* { margin: 0; padding: 0;}

html{
  height:100%;
  overflow-x: hidden;
}

body {
  background-image: url('../images/background.webp')!important;
  background-size: cover;
  background-repeat: repeat-y;
}

canvas {
  z-index: 2;
  width:100%;
  height:100%;
  position: fixed;
  top: 0px;
}

ol li {
  margin-left: -15px;
  margin-top: -5px;
  color: #3c3c3c;
}

ol {
  height: 100px;
  overflow-y: scroll;
}

.header-text{
  color:#ffffffc6;
  font-size: 38px;
  font-family: 'Dancing Script', cursive;
  -webkit-animation: colorchange 20s infinite alternate;
  text-align: center;
}

.header-text-container {
  text-align: center;
  top: 5px;
  position: absolute;
  z-index: 5;
  margin:0 auto;
  display: block;
  width: 100%;
}

.SSText {
  font-size: 38px;
  margin-right: 180px;
}

.SSText2 {
  margin-top: -80px;
  font-size: 100px;
  display: inline-block;
}

.SSYear {
  font-size: 65px;
}

@-webkit-keyframes colorchange {
  0% {
    color: rgb(255, 255, 255);
  }
  10% {
    color: #ffffff;
  }
  20% {
    color: #8fd1a2;
  }
  30% {
    color: #4ad165;
  }
  40% {
    color: rgb(8, 184, 43);
  }
  50% {
    color: #74d04f;
  }
  60% {
    color: rgb(228, 185, 185);
  }
  70% {
    color: #d63535;
  }
  80% {
    color: #ae0000;
  }
  90% {
    color: #7e0000;
  }
  100% {
    color: #7e0000;
  }
}

/*----  Main Style  ----*/
#cards_landscape_wrap-2{
  margin-top: 80px;
  position: relative;  
  z-index: 4;
}
#cards_landscape_wrap-2 .container{
  padding-top: 80px; 
  padding-bottom: 100px;
  background: #F7F7F7;
}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
  background: #F7F7F7;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  width: 100%;
  height: 150px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.8;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  background: #F7F7F7;
  opacity: 0.8;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer{
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #dd0f0f;
  text-align: center;
}

.close-icon {
  cursor: pointer;
}

#closeButton {
  margin-top: 50px;
  margin-left: 340px;
  z-index: 5;
  position: absolute;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00b333; 
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00b333; 
}
